.container {
    width: 45rem;
    margin: 0 auto;
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img {
        width: 80%;
        margin: 2rem;
    }
}